.tudo{
    width: 60%;
    border: solid 1px  #000;
    margin: auto;
    padding: 30px 30px 30px 30px;

}
.linha{
clear: both;
}

h1{
    text-align: center;
    background-color: rgb(4, 83, 255);
    color: #fff;
    margin-top: 0px;
    padding: 10px;
    border-radius: 10px;

}
img{
    
text-align: center;
}
#foto{
    width: 30%;
    text-align: center;
    float: left;

}
#dados{
    width:70%;
float:left;
font-size:20px;

}
.fonteDados{
    color:rgb(4,83,255);


}

h2{
    color:rgb(4,83,255);
margin-top: 10px;
margin-bottom: 0px;

}
hr{
    border-color:rgb(4,83,255);
}
h4{
    margin-top: 0;
    margin-bottom: 10px;
}
#coluna1{
    float: left;
    width: 47%;
    padding-right: 20px;
}
#coluna2{
    float: left;
    width: 1px;
    height: 400px;
    background-color: #000;
    margin-top: 20px;
}
#coluna3{
    float: left;
    width: 47%;
    padding-left: 20px;
    

}
h3{
color:rgb(4,83,255);
margin-bottom: 0px;
}


.tituloHabilidade{
    float:left;
  
}
.circulo{
    width: 8px;
    height: 8px;
    background-color: blue;
    float: right;
    border-radius: 50%;
    margin-left: 10px;
   
    

    
}




